/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* INMOBILIARIA LOGO */


body {
    background: rgb(128, 0, 0);
    background: linear-gradient(180deg, rgba(128, 0, 0, 1) 0%, rgba(174, 3, 21, 1) 10%, rgba(200, 82, 93, 1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------
                    HEADER 
----------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
    /* margin-top: 100px; */
}

.contenedor-img-profile {
    width: 150px;
    height: 150px;
    margin-top: 35px;
    border-radius: 100px;
    border: 4px solid #E74C3C;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ae0315;
    box-shadow: 3px 3px 5px #42424280;
}

.img-profile {
    width: 120px;
    height: 120px;

}

/*----------------------------------------------
                SECCIÓN PRINCIPAL 
----------------------------------------------*/

a {
    text-decoration: none;

}

.link-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

h1 {
    font-family: Parisienne;
    font-size: 35px;
    text-shadow: 3px 3px 5px #42424280;
    margin: 5px 0 5px 0;
}

/*----------------------------------------------
                TEXTO PRINCIPAL
----------------------------------------------*/

.principal-tree, .contenedor-footer, .contenedor-signature {
    position: relative;
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.contenedor-link {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 4px solid #E74C3C;
    border-radius: 10px;
    background-color: #fafafa90;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ae0315;
}

.img-logo {
    width: 30px;
}

.txt-title-link {
    font-weight: 400;
    font-size: 20px;
    font-style: bold;
    margin-left: 10px;
    color: #ae0315;
}

.contenedor-link:hover {
    background-color: #fafafa;
    color: #ae0315;
}


/*----------------------------------------------
                    FOOTER
----------------------------------------------*/

.contenedor-footer, .contenedor-signature {
    width: 320px;
    margin: 30px 0 10px 0;
    padding: 10px;
}

.contenedor-signature {
    background-color: #fafafa10;
    width: 100%;
}

.free-resources {
    margin: 10px 0 5px 0;
}

.contenedor-footer a {
    color: #ae0315;
}

/*----------------------------------------------
                RESPONSIVE
----------------------------------------------*/

@media (min-width: 380px) and (max-width: 580px) {}


@media (max-width: 379.9px) {

    h1 {
        font-size: 30px;
    }

    /*----------------------------------------------
                    TEXTO PRINCIPAL
    ----------------------------------------------*/

    .principal-tree, .contenedor-footer {
        width: 300px;
    }

    .txt-title-link {
        font-size: 18px;
    }

    /*----------------------------------------------
                        FOOTER
    ----------------------------------------------*/

    .contenedor-footer {
        width: 280px;
    }

}

/*----------------------------------------------
                    COLORES
----------------------------------------------*/

.lolipop {
    color: #ae0315;
    color: #E74C3C;
    color: #fafafa;
}

/*----------------------------------------------
                    @Luzyla
----------------------------------------------*/